.footer{
    background-color: #000;
    width: 100%;
    height: 112px;
    text-align: center;
    margin-top: 60px;
    padding: 40px;
  }
  .footer a{
    text-decoration: none;
    color: #fff;
    display: flex;
    
  }
  .fft{
    width: 300px;
    display: flex;
    justify-content: space-between;
    padding-left: 600px;
  }